{% extends "base.html" %}

{% block content %}
    <div class="splash-contact">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text-contact">
                    <h1 class="splash-head">
                        Fale Conosco
                    </h1>
                    <h2 class="splash-subhead">
                        Você pode entrar em contato conosco através do e-mail ou redes sociais.
                    </h2>

                    <span>
                        <h3>Links:</h3>
                        <ul>
                            <li><strong>E-mail:</strong> <a href="#">contato@simplemooc.org</a></li>
                            <li><strong>Twitter:</strong> <a href="#">@simplemooc</a></li>
                        </ul>
                    </span>
                    <p>
                        <a href="#" class="pure-button secondary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}