{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="py-5 text-center hero-section">
    <div class="py-lg-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="fw-light">Uma Simples Plataforma EAD</h1>
            <p class="lead">
                O Simple MOOC visa simplificar o ensino a distância,
                provendo ferramentas objetivas e de fácil uso para
                cursos a distância.
            </p>
            <p>
                <a href="#marketing" class="btn btn-lg btn-primary my-2">Saiba mais</a>
            </p>
        </div>
    </div>
</section>

<div class="container marketing" id="marketing">
    <div class="row featurette py-5">
        <div class="col-md-7 d-flex align-items-center">
            <div>
                <h2 class="featurette-heading">
                    Vídeo-aulas e materiais digitais<br>
                    <span class="text-body-secondary">
                        Publique suas aulas
                    </span>
                </h2>
                <p class="lead">
                    O Simple MOOC tem um sistema simples e prático para
                    que o professor disponibilize vídeo-aulas e materiais
                    digitais como: pdf's, slides, imagens ...
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"
                src="{% static 'img/video-aula.jpg' %}"
                alt="Vídeo Aulas e Materiais Digitais">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div>
                <h2 class="featurette-heading">
                    Fórum de Dúvidas<br>
                    <span class="text-body-secondary">
                        Interaja com seus Alunos
                    </span>
                </h2>
                <p class="lead">
                    No Simple MOOC você pode ter seu próprio sistema de
                    fórum para que seus alunos possam interagir com você
                    e com os outros alunos
                </p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto"
                src="{% static 'img/forum-duvidas.jpg' %}" alt="Fórum de Dúvidas">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7 d-flex align-items-center">
            <div>
                <h2 class="featurette-heading">
                    Exercícios<br>
                    <span class="text-body-secondary">
                        Crie exercícios para avaliar seus alunos
                    </span>
                </h2>
                <p class="lead">
                    Você pode criar exercícios para que os alunos
                    possam ser avaliados e todo o controle de notas e
                    resolução dos exercícios é controlado pela plataforma,
                    facilitando sua vida
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"
                src="{% static 'img/exercicios.jpg' %}" alt="Crie Exercícios">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette py-5">
        <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div>
                <h2 class="featurette-heading">
                    Mural de Avisos<br>
                    <span class="text-body-secondary">
                        Envie anúncios diretamente para os alunos
                    </span>
                </h2>
                <p class="lead">
                    Organize os avisos do seu curso de forma fácil e simples.
                </p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto"
                src="{% static 'img/avisos.jpg' %}" alt="Mural de Avisos">
        </div>
    </div>
</div>
{% endblock %}