{% extends "accounts/profile.html" %}
{% load static %}
{% load widget_tweaks %}
    
{% block profile_content %}
<div class="p-4 mt-5">
    <form method="POST">
        {% csrf_token %}
        {% if success %}
            <div id="success-alert" class="alert alert-success" role="alert">
                <span>A sua senha foi alterada com sucesso!</span>
            </div>
        {% endif %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="mb-3 text-start">
            {{ form.old_password.label_tag }}
            {% render_field form.old_password class="form-control" placeholder=form.old_password.label %}
            {% if form.old_password.errors %}
                <div class="text-danger">
                    {% for error in form.old_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mb-3 text-start">
                    {{ form.new_password1.label_tag }}
                    {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label %}
                    {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3 text-start">
                    {{ form.new_password2.label_tag }}
                    {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label %}
                    {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Alterar Senha</button>
    </form>
</div>

<script>
    const successAlert = document.getElementById('success-alert');

    if (successAlert) {
        setTimeout(() => {
            successAlert.style.display = 'none';
        }, 3000);
    }
</script>
{% endblock %}