{% extends "accounts/profile.html" %}
{% load static %}
{% load widget_tweaks %}

{% block profile_content %}
<div class="p-4 mt-5">
    <form method="POST">
        {% csrf_token %}
        {% if success %}
            <div id="password-change-success" class="alert alert-success text-center" role="alert">
                <span>A sua senha foi alterada com sucesso!</span>
            </div>

            <div class="d-flex text-center justify-content-center mt-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="text-center">
                <span class="badge text-bg-light mt-3">Devido à alteração da senha, você deve fazer login novamente. Redirecionando você em: <span id="countdown">10</span>...</span>
            </div>
        {% endif %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% if show %}
        <div class="mb-3 text-start">
            {{ form.old_password.label_tag }}
            {% render_field form.old_password class="form-control" placeholder=form.old_password.label %}
            {% if form.old_password.errors %}
                <div class="text-danger">
                    {% for error in form.old_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mb-3 text-start">
                    {{ form.new_password1.label_tag }}
                    {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label %}
                    {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3 text-start">
                    {{ form.new_password2.label_tag }}
                    {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label %}
                    {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Alterar Senha</button>
        {% endif %}
    </form>
</div>

{% if success %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let countdownElement = document.getElementById('countdown');
        let seconds = 10;
        const redirectUrl = "{{ login_url }}";

        function updateCountdown() {
            if (countdownElement) {
                countdownElement.textContent = seconds;
            }

            if (seconds === 0) {
                window.location.href = redirectUrl;
            } else {
                seconds--;
                setTimeout(updateCountdown, 1000);
            }
        }

        updateCountdown();
    });
</script>
{% endif %}
{% endblock %}